/* Index Buttons properties */
.button-position{
    position: absolute;
    right: 5%;
    bottom: 3%;
}

.button-space{
    margin: 10px;
}

/*Frame Style*/
.frame-position{
    position: absolute;
    right: 5%;
    bottom: 15%;
    height: 80%;
    width: 40%;
    border:none;
}

.frame-hide{
    display: none;
}

/*Submit text box*/
#textBox{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

#submit-box{
    width: 90%;
    border-right:none;
}

#submit-button{
    border-left:none;
}